@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*font-family: 'Lora', serif;
font-family: 'Noto Sans KR', sans-serif*/

/*노말라이즈 시작*/
html{
  font-family: 'Noto Sans KR', sans-serif;
}

/*폰트적용 끝*/

/*노말라이즈 시작*/
body,ul,li{
	margin : 0;
	padding : 0; 
	list-style : none; 
}

a{
	text-decoration: none;
	color : inherit
}
/*노말라이즈 끝*/


/*라이브러리 시작*/

/*전체*/
body{
  background-color: #282828; 
}

.content{
  flex-direction : column;
  min-height : 100vh;
}

.con-min-width{
  min-width : 320px; 
}

.con{
  max-width : 1200px;
  margin : 0 auto; 
  padding : 0 20px;
}

.flex{
  display : flex; 
}

@media(min-width:801px){
  .visible-sm-down{
    display : none !important; 
  }
}

@media(max-width:800px){
  .visible-md-up{
    display : none !important; 
  }
}

/*라이브러리 끝*/